.popover.custom-popover {
    max-width: none;
    display:flex;
}

#log_in_form{
    width:28em;
}

fieldset h1 {
    font-weight: bold;
}

fieldset h1, p, input {
    color: #111b40;
}

#registration  a {
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}

#registration  a:hover{
    text-decoration: underline;
    color:#111b40;
}

label{
    color: #636363;
    
}

input:not([type=submit]):not([type=button]):not([type=checkbox]) {
    box-shadow: inset, 0, 2px, 0 rgba(0,0,0,0.5);
    font-size: 18px;
    min-height:48px;
    padding-left: 10px ;
    padding-right: 10px;
    z-index: 1;
    line-height: 1;
    font-weight: bold;
    width: 89%;
    margin: 0 0 10px 0;
}

#logBtn {
    background-color: #ffbf27;
    border: 1px solid #ffbf27;
    border-radius: 2px;
    box-shadow: 0 1px #8f8f8f;
    margin-left: 38%;
    width:30%;
    min-height: 48px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    color:#111b40;
}

#headerNav{
    height: 36px;
    padding-top: 3px;
    text-align: right;
}
#loginStart{
    background-color: #ffbf27;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color:#111b40;
    min-height: 32px;
    min-width:  24px;
    width: 9em;
    border:1px solid #ffbf27;
    border-radius:2px;
    box-shadow: 0 1px #8f8f8f;

    transition: background-color .3s ease-out,background .3s ease-out,border .3s ease-out,box-shadow .3s ease-out,color .3s ease-out,opacity .3s ease-out;
    transition-property: background-color, background, border, box-shadow, color, opacity;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease-out, ease-out, ease-out, ease-out, ease-out, ease-out;
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
    transition-behavior: normal, normal, normal, normal, normal, normal;
}
#loginStart:hover {
    border-color: #111b40;
    box-shadow: none;
    transition: background-color .3s ease-out,background .3s ease-out,border .3s ease-out,box-shadow .3s ease-out,color .3s ease-out,opacity .3s ease-out;
    transition-property: background-color, background, border, box-shadow, color, opacity;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease-out, ease-out, ease-out, ease-out, ease-out, ease-out;
    transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
    transition-behavior: normal, normal, normal, normal, normal, normal;
}

.bi-person {
    font-size: 15px;
    -webkit-text-stroke: 1px;
}


.logOptions label {
    margin-left: 61%;
    margin-bottom: 13px;
}

#registration{
    display: inline-flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 18px;
    color: #636363;
}
#Lremember {
    margin-left:63%
}