
@{
    Layout = "~/Views/Shared/_EmpLayout.cshtml";

	ViewData["Title"] = "Employee Dashboard";
	ViewData["PageHead"] = "Employee Dashboard";
}

<!DOCTYPE html>

<html>
<body>
    <h1>Wow! A Dashboard!?</h1>
</body>
</html>
