
@{
    ViewData["Title"] = "confirmRegistration";
}

<body>
    <div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="title">Confirm Registration</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>Thank you for registering! Please check your email to confirm your registration.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a href="@Url.Action("info", "Home")" class="btn btn-primary">Go to Home</a>
			</div>
		</div>
    </div>
</body>

