
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
	ViewData["Title"] = "Customer Dashboard";
	ViewData["PageHead"] = "Customer Dashboard";
}

<!DOCTYPE html>

<html>
<body>
    
</body>
</html>
