@model BookingPageModel
@{
    ViewData["Title"] = "Southwest Airlines - Flights";
}

<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <table class="table table-borderless table-striped">
            <!--Populate with Flights-->
                <thead>
                    <th>Flight Number</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th></th>
                </thead>
            <tbody>
                <tr>
					@foreach (var flight in Model.FlightsList)
					{
						<td>@flight.FlightNumber</td>
						<td>@flight.DepartureTime.ToString("HH:mm")</td>
						<td>@flight.ArrivalTime.ToString("HH:mm")</td>
						<td><a href="@Url.Action("BookFlight", "Booking", new { flightId = flight.FlightId })" class="btn btn-primary">Book Flight</a></td>
					}

                </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>