
@{
    ViewData["Title"] = "Southwest Airlines - Flights";
}

<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <ul class="list-group">
                <!--Populate with Flights-->
            </ul>
        </div>
    </body>
</html>