
@{
	ViewData["Title"] = "Payment";
	ViewBag.PageHead = "Enter Payment";
}
<html>
<head>
	<link rel="stylesheet" href="~/css/payment.css" />
</head>
@{
	var passChoice = ViewBag.PassChoice as PassChoice;
	var passType = passChoice?.PassType;
	if (passType != null && passType == 1)
	{
		ViewBag.FastPassType = "Individual Fast Pass";
		ViewBag.FastPassPrice = "24.99";
	}
	else if (passType != null && passType == 2)
	{
		ViewBag.FastPassType = "Group Fast Pass";
		ViewBag.FastPassPrice = "74.99";
	}
	else
	{
		ViewBag.FastPassType = "Unknown Pass Type";
		ViewBag.FastPassPrice = "0.00";
	}
}
<body>
	<div class="container">
		<form asp-action="purchased" id="payment-form" name="payment-form" method="post">
			<div class="payment-back">
				<fieldset class="payment-set">
					<legend>Credit Card Information</legend>
					<label class="me-md-2" for="TBcardNumber">Card Number:</label>
					<div class="w-100 d-block d-md-none"></div>
					<input class="w-50" type="text" id="TBcardNumber" name="TBcardNumber" required><span></span>

					<div class="w-100 d-inline-block"></div>

					<label class="me-md-2" for="TBsecurityCode">Security Code:</label>
					<div class="w-100 d-block d-md-none"></div>
					<input class="w-25 p-1" type="text" id="TBsecurityCode" name="TBsecurityCode" placeholder="123" required>



					<div class="w-100 d-block d-md-none"></div>
					<label class="mx-md-3" for="TBexpiryDate">Expiry Date:</label>
					<div class="w-100 d-block d-md-none"></div>
					<input class="w-25  p-1" type="text" id="TBexpiryDate" name="expiryDate" placeholder="MM/YY" required>

					<div class="w-100 d-inline-block"></div>

					<label for="TBcardName">Cardholder Name:</label>
					<input class="w-75" type="text" id="TBcardName" name="TBcardName" required>
				</fieldset>

				<fieldset class="payment-set">
					<legend>Billing Address</legend>
					<label class="w-100" for="Selcountry">Country</label>
					<select class="w-75 countrySelect" id="Selcountry" name="Selcountry" required>
						<option value="" disabled selected>Select a country</option>
						<option value="US">United States</option>
						<option value="CA">Canada</option>
						<option value="MX">Mexico</option>
						<!-- Add more countries as needed -->
					</select>
					<div class="w-100 d-inline-block"></div>
					<label class="w-100" for="TBaddress">Address:</label>
					<input class="w-75" type="text" id="TBaddress" name="TBaddress" required>

					<div class="w-100 d-inline-block"></div>

					<label class="w-100" for="TBoptionalAddress">Apt/Suite: </label>

					<input class="w-75" type="text" id="TBoptionalAddress" name="TBoptionalAddress" placeholder="Optional">
					<div class="w-100 d-inline-block"></div>

					<label class="me-md-2" for="TBcity">City:</label>
					<div class="w-100 d-block d-md-none"></div>
					<input class="w-25" type="text" id="TBcity" name="TBcity" required>
					<div class="w-100 d-block d-md-none"></div>
					<label class="mx-md-3" for="TBstate">State:</label>
					<div class="w-100 d-block d-md-none"></div>
					<input class="w-25" type="text" id="TBstate" name="TBstate" required>
					<div class="w-100 d-block d-md-none"></div>
					<label class="mx-md-3" for="TBzip">Zip Code:</label>
					<div class="w-100 d-block d-md-none"></div>
					<input class="w-25" type="text" id="TBzip" name="TBzip" required>

					<div class="w-100 d-inline-block"></div>

					<label class="w-100" for="TBphone">Phone Number:</label>
					<input class="w-75" type="tel" id="TBphone" name="TBphone" placeholder="123-456-7890" required>
				</fieldset>

				@{
					if(passType == 2 && passType != null)
					{
						<fieldset class="payment-set">
							<legend>Passengers</legend>
							<label class="me-md-2" for="SelpassNum">How many Passengers?</label>
							<select class="w-25" id="SelpassNum" name="SelpassNum">
								<option value="" disabled selected>Select number of passengers</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</fieldset>
					}
				}

				<fieldset class="payment-set">
					<legend>Order Summary</legend>
					<input type="hidden" id="basePrice" value="@ViewBag.FastPassPrice" />
					<p class="order-summary">You are purchasing a <span class="fast-pass-type">@ViewBag.FastPassType</span> 
						<br/>
						Total: <span class="fast-pass-price">$@ViewBag.FastPassPrice</span>.</p>
					<button type="submit" class="btnSubmit my-3">Buy</button>
				</fieldset>
				</div>
			</form>
		</div>
		@section Scripts
		{
			<script src="~/js/payment.js"></script>
		}
	</body>

</html>

