@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 1280px) {
}


body {
    background-color: white;
}

.purchase-body {
    padding-bottom:35em;
    height:50%;
    background-color: white;
}

.purchase-col {
    margin-top: 2em;
    padding:0;
    background-color: #ffbf27;
    width: 40%;
    height:100%;
    filter: drop-shadow(0px 15px 20px black);
    box-shadow: #1a2c80 10px 11px;
    border-style: solid;
    border-color: #1a2c80;
}
.purchase-image {
    width: 100%;
    height:293px;
    display: block;
    margin: 0;
    padding: 0;
    transition: filter 0.4s ease-out;
}

.purchase-image:hover{
    filter:opacity(0.5);
    transition:filter 0.4s ease-in-out;
    
}

.btnPurchase{
    width:100%;
    border-radius: 0;
}
.pass-benefits{
    font-size: 12px;
    
}
.disclaimer {
    font-weight:bold;
    margin-top:1em;
}