.title-box{
    background:#1a2c80;
    padding: 10px 0;
}
.title {
    color: white;
    font:1.9rem;
    font-weight: bold;
}

.info-wrapper {
    background: url("images/SWA_Cabin2.png") no-repeat;
    background-size: cover;
    height: 10%;
    padding-top: 5em;
    padding-bottom: 30em;
}
.info-body {
    background-color:#1a2c80;
    background: linear-gradient(90deg, rgba(23,39,118,1) 0%, rgba(39,60,147,1) 48%, rgba(23,39,118,1) 100%);
    height: 100em;
}

.info-section  {
    background-color: white;
    margin-top:20em;
    padding-top:3em;
    padding-bottom:3em;
    font-weight: bold;
}

.info-section > h2 {
    color:#1a2c80;
    -webkit-text-stroke-width: 2px;
}

.info-section ~ .info-section{
    margin-top: 3em;
}
.register-link{
    text-decoration: none;
}

.register-link:hover{
    text-decoration: underline;
}